<div id="buffer" ng-controller="bufferController">

  <div id="players" ng-controller="playersController" ng-show="players.length" class="hidden-xs">
    <div class="header">Players [{{players.length}}]</div>
    <div class="body">
      <ul>
        <li ng-repeat="player in players">
          <img src="//cravatar.eu/helmavatar/{{player}}/18" width="18px" height="18px">
          {{player}}
        </li>
      </ul>
    </div>
  </div>

</div>

<form ng-submit="send()" ng-controller="chatController">
  <div id="chat">
    <input type="text" ng-model="chat" placeholder="Type to chat...">
  </div>

  <div id="send">
    <input type="submit" value="Chat">
  </div>
</form>