<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="navController">
  <a class="navbar-brand" href="/">Minecraft Chat</a>
  <ul class="nav navbar-nav">
    <li><a style="cursor:pointer" data-toggle="modal" data-target="#connectModal">Connect</a></li>
    <li><a style="cursor:pointer" ng-click="disconnect()">Disconnect</a></li>
    <li><a href="https://github.com/AlexKvazos/MinecraftChat">View on GitHub</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li ng-hide="connected"><a style="color:#9E0F06">Not Connected</a></li>
    <li ng-show="connected"><a style="color:#6AC126">Connected to <i>{{host}}:{{port}}</i> as <b>{{username}}</b></a></li>
  </ul>
</nav>


<!-- connect modal -->
<div ng-include="'templates/modals/connect.html'"></div>