<div class="modal fade" id="connectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="connectController">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Connect to Minecraft server</h4>
      </div>
      <form ng-submit="connect()">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Minecraft Username/Email</label>
                <input type="text" ng-model="username" class="form-control" placeholder="Steve" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Minecraft Password</label>
                <input type="password" ng-model="password" class="form-control" placeholder="">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <h6>My Servers</h6>
              <table class="table table-bordered" ng-show="servers.length">
                <tr ng-repeat="server in servers track by $index">
                  <td>{{server.name}}</td>
                  <td>{{server.version}}</td>
                  <td>{{server.ip}}:{{server.port}}</td>
                  <td><span class="label label-info" ng-click="select($index)" style="cursor:pointer">Select</span></td>
                </tr>
              </table>
              <p ng-hide="servers.length">You haven't saved any servers</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <label>Server IP</label>
              <div class="input-group">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span>{{version}}  </span><span class="caret"></span></button>
                    <ul class="dropdown-menu">
                      <li><a href="#" ng-click="selectversion('1.7.10')">1.7.10</a></li>
                      <li><a href="#" ng-click="selectversion('1.8.9')">1.8.9</a></li>
                      <li><a href="#" ng-click="selectversion('1.9.4')">1.9.4</a></li>
                      <li><a href="#" ng-click="selectversion('1.10.2')">1.10.2</a></li>
                      <li><a href="#" ng-click="selectversion('1.11.2')">1.11.2</a></li>
                      <li><a href="#" ng-click="selectversion('1.12.2')">1.12.2</a></li>
                      <li><a href="#" ng-click="selectversion('1.13.2')">1.13.2</a></li>
                      <li><a href="#" ng-click="selectversion('1.14.4')">1.14.4</a></li>
                      <li><a href="#" ng-click="selectversion('1.15.2')">1.15.2</a></li>
                      <li><a href="#" ng-click="selectversion('1.16.5')">1.16.5</a></li>
                    </ul>
                  </div>
                <input type="text" ng-model="ip" class="form-control" placeholder="mc.server.com" required>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Server Port (Leave empty if unknown)</label>
                <input type="number" ng-model="port" class="form-control" placeholder="25565">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <span class="btn btn-default" data-dismiss="modal">Close</span>
          <button type="submit" class="btn btn-primary">Connect</button>
        </div>
      </form>
    </div>
  </div>
</div>
